<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.daytoday" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Day to Day</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="actividades.html" />
    <access origin="*" />
    <plugin name="onesignal-cordova-plugin" spec="^2.4.1" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
